---
// src/pages/v7.astro
import LayoutV7 from "../layouts/LayoutV7.astro";
import Headerv7 from "../components/v7/Headerv7.astro";
import Herov7 from "../components/v7/Herov7.astro";
import Aboutv7 from "../components/v7/Aboutv7.astro";
import Alchemyv7 from "../components/v7/Alchemyv7.astro";
import Programsv7 from "../components/v7/Programsv7.astro";
import Footerv7 from "../components/v7/Footerv7.astro";
---

<LayoutV7 title="A Himalayan Yogi | Advait Yogbhushan">
  <Headerv7 />
  <main>
    <Herov7 />
    <Aboutv7 />
    <Alchemyv7 />
    <Programsv7 />
  </main>
  <Footerv7 />
</LayoutV7>
